USE [master]
GO
/****** Object:  Database [Pr21]    Script Date: 13.05.2022 14:31:50 ******/
CREATE DATABASE [Pr21]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pr21', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Pr21.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Pr21_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Pr21_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pr21].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pr21]
GO
/****** Object:  Table [dbo].[DirectoryOfEmployees]    Script Date: 13.05.2022 14:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectoryOfEmployees](
	[ServiceNumber] [int] NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Discharge] [int] NOT NULL,
	[Factory] [int] NOT NULL,
 CONSTRAINT [PK_DirectoryOfEmployees] PRIMARY KEY CLUSTERED 
(
	[ServiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfFactory]    Script Date: 13.05.2022 14:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfFactory](
	[FactoryNumber] [int] NOT NULL,
	[FactoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ListOfFactory] PRIMARY KEY CLUSTERED 
(
	[FactoryNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportCard]    Script Date: 13.05.2022 14:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportCard](
	[ServiceNumber] [int] NOT NULL,
	[TimeWorkedInHours] [int] NULL,
	[MonthNumber] [int] NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_ReportCard] PRIMARY KEY CLUSTERED 
(
	[ServiceNumber] ASC,
	[MonthNumber] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TariffReference]    Script Date: 13.05.2022 14:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TariffReference](
	[Discharge] [int] NOT NULL,
	[Rate] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_TariffReference] PRIMARY KEY CLUSTERED 
(
	[Discharge] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DirectoryOfEmployees] ([ServiceNumber], [Surname], [Discharge], [Factory]) VALUES (1234, N'Комов', 4, 1)
INSERT [dbo].[DirectoryOfEmployees] ([ServiceNumber], [Surname], [Discharge], [Factory]) VALUES (1456, N'Федюшин', 4, 1)
INSERT [dbo].[DirectoryOfEmployees] ([ServiceNumber], [Surname], [Discharge], [Factory]) VALUES (2458, N'Олов', 2, 2)
GO
INSERT [dbo].[ListOfFactory] ([FactoryNumber], [FactoryName]) VALUES (1, N'Торгхол')
INSERT [dbo].[ListOfFactory] ([FactoryNumber], [FactoryName]) VALUES (2, N'Мебельный')
INSERT [dbo].[ListOfFactory] ([FactoryNumber], [FactoryName]) VALUES (3, N'Кузовной')
GO
INSERT [dbo].[ReportCard] ([ServiceNumber], [TimeWorkedInHours], [MonthNumber], [Year]) VALUES (1234, 1979, 10, 2021)
INSERT [dbo].[ReportCard] ([ServiceNumber], [TimeWorkedInHours], [MonthNumber], [Year]) VALUES (1456, 456, 5, 2019)
INSERT [dbo].[ReportCard] ([ServiceNumber], [TimeWorkedInHours], [MonthNumber], [Year]) VALUES (2458, 879, 7, 2021)
GO
INSERT [dbo].[TariffReference] ([Discharge], [Rate]) VALUES (1, CAST(400 AS Decimal(18, 0)))
INSERT [dbo].[TariffReference] ([Discharge], [Rate]) VALUES (2, CAST(508 AS Decimal(18, 0)))
INSERT [dbo].[TariffReference] ([Discharge], [Rate]) VALUES (3, CAST(642 AS Decimal(18, 0)))
GO
ALTER TABLE [dbo].[DirectoryOfEmployees]  WITH CHECK ADD  CONSTRAINT [FK_DirectoryOfEmployees_ListOfFactory] FOREIGN KEY([Factory])
REFERENCES [dbo].[ListOfFactory] ([FactoryNumber])
GO
ALTER TABLE [dbo].[DirectoryOfEmployees] CHECK CONSTRAINT [FK_DirectoryOfEmployees_ListOfFactory]
GO
ALTER TABLE [dbo].[DirectoryOfEmployees]  WITH CHECK ADD  CONSTRAINT [FK_DirectoryOfEmployees_TariffReference] FOREIGN KEY([Discharge])
REFERENCES [dbo].[TariffReference] ([Discharge])
GO
ALTER TABLE [dbo].[DirectoryOfEmployees] CHECK CONSTRAINT [FK_DirectoryOfEmployees_TariffReference]
GO
ALTER TABLE [dbo].[ReportCard]  WITH CHECK ADD  CONSTRAINT [FK_ReportCard_DirectoryOfEmployees1] FOREIGN KEY([ServiceNumber])
REFERENCES [dbo].[DirectoryOfEmployees] ([ServiceNumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportCard] CHECK CONSTRAINT [FK_ReportCard_DirectoryOfEmployees1]
GO
/****** Object:  StoredProcedure [dbo].[ГлавнаяФорма]    Script Date: 13.05.2022 14:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ГлавнаяФорма]
AS
BEGIN
SET NOCOUNT ON;
SELECT   dbo.DirectoryOfEmployees.ServiceNumber, dbo.DirectoryOfEmployees.Surname, dbo.DirectoryOfEmployees.Factory, dbo.TariffReference.Discharge, dbo.TariffReference.Rate
FROM     dbo.DirectoryOfEmployees INNER JOIN
                         dbo.TariffReference ON dbo.DirectoryOfEmployees.Discharge = dbo.TariffReference.Discharge
END
GO
/****** Object:  StoredProcedure [dbo].[Задание3]    Script Date: 13.05.2022 14:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Задание3]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT        TOP (100) PERCENT dbo.DirectoryOfEmployees.Surname, dbo.ReportCard.ServiceNumber, dbo.ReportCard.MonthNumber, dbo.TariffReference.Rate * 120 AS Expr1
FROM            dbo.DirectoryOfEmployees INNER JOIN
                         dbo.ReportCard ON dbo.DirectoryOfEmployees.ServiceNumber = dbo.ReportCard.ServiceNumber INNER JOIN
                         dbo.TariffReference ON dbo.DirectoryOfEmployees.Discharge = dbo.TariffReference.Discharge
ORDER BY dbo.DirectoryOfEmployees.Surname
END
GO
/****** Object:  StoredProcedure [dbo].[Задание4]    Script Date: 13.05.2022 14:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Задание4]
@FactoryNumber int	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT      FactoryNumber,  FactoryName, AVG(Rate) AS Expr1
FROM            dbo.DirectoryOfEmployees INNER JOIN
                         dbo.TariffReference ON dbo.DirectoryOfEmployees.Discharge = dbo.TariffReference.Discharge INNER JOIN
                         dbo.ListOfFactory ON dbo.DirectoryOfEmployees.Factory = dbo.ListOfFactory.FactoryNumber
GROUP BY FactoryName, FactoryNumber
Having FactoryNumber = @FactoryNumber
END
GO
/****** Object:  StoredProcedure [dbo].[Задание5]    Script Date: 13.05.2022 14:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Задание5]
@FactoryNumber int	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT      Surname
     FROM           dbo.DirectoryOfEmployees INNER JOIN
                         dbo.TariffReference ON dbo.DirectoryOfEmployees.Discharge = dbo.TariffReference.Discharge, (Select AVG(Rate*120) AS Expr1 from TariffReference) as Expr1
	Where Expr1  < Rate*120

END
GO
/****** Object:  StoredProcedure [dbo].[НовыйРаботник]    Script Date: 13.05.2022 14:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[НовыйРаботник]

@ServiceNumber int=0,
@Surname nvarchar(50)=0,
@Discharge int=0,
@Factory int=0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Insert INTO DirectoryOfEmployees(ServiceNumber, Surname, Discharge , Factory)
	values (@ServiceNumber, @Surname, @Discharge, @Factory)
    -- Insert statements for procedure here

	
END
GO
USE [master]
GO
